
.mrAuto{
    margin: 25%;
}
.visi{
    font-size: 10px;
}
p {
    margin-bottom: 3px;
}
a{
    color: black ;
}
.foot  {
    color: white;
}
.first-last{
    margin: 55px 25%;
}
.logo{
    width: 40px;
    height: 40px;
}

.cstm-height-card .card-img-top {
  height: 100px;
  object-fit: cover;
}